# {{ ansible_managed }}

# TYPE  DATABASE        USER            ADDRESS                 METHOD
{% for pg_hba in postgresql_hba %}
{{ pg_hba.type }}  {{ pg_hba.database }} {{ pg_hba.user }} {{ pg_hba.address | default('') }} {{ pg_hba.method }}
{% endfor %}
