# {{ ansible_managed }}

{% for k in postgresql_conf %}
{% if postgresql_conf[k] is sameas true %}
{{ k }} = yes
{% elif postgresql_conf[k] is sameas false %}
{{ k }} = no
{% else %}
{{ k }} = '{{ postgresql_conf[k] }}'
{% endif %}
{% endfor %}
